doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title КАМЧАТКА
    link(rel="icon" href="images/logo.webp")
    link(rel="stylesheet" href="style/index.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
  body 
    header
      .header__block
        .header__nav.container 
          a(href="").header__logo
            img(src="images/logo.webp" alt="") 
          ul.header__ul
            li
              a(href="") Расписсание тура
            li
              a(href="") Как записаться
            li
              a(href="") Команда
            button.header__btn Забронировать
        main.main__block.container
          .main__block-left 
            h1.main__title  Мечты о далекой<br>Камчатке - близко
            p.main__dream-tour 23.06 - 04.07  DREAM TOUR
            p.main__text Тур перевернет ваш мир с ног на голову<br>и оставит впечатления на всю жизнь. 
            .main__tours-chedule
              a(href="") Расписание тура
              a(href="").tours-chedule__img
                img(src="images/strelka.webp" alt="")
            .main__messangers 
              a(href="https://ru-ru.facebook.com/ProektKamchatka") 
                img(src="images/facebook.webp" alt="")
              a(href="https://www.instagram.com/explore/tags/kamchatka") 
                img(src="images/instagram.webp" alt="")
          .main__block-right 
            .swiper-container
              .swiper-wrapper
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
                |     ...
              .swiper-pagination
              .swiper-button-prev
              .swiper-button-next








































    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/slider.js") 















